
.board {
    display: grid;
    contain: layout;
    grid-template-rows: repeat(8, 1fr);
    /* width: calc(min(60vw, 60vh));
    height: calc(min(60vw, 60vh)); */
    background-color: #333;
    transition: filter 0.2s;
}

.square {
    --square-color: #ffffff;
    width: 75px;
    height: 75px;
    background-color: var(--square-color);
}

.square.even-square {
    --square-color: var(--even-color);
}

.square.odd-square {
    --square-color: var(--odd-color);
}

.square.selected {
    background:
        /* linear-gradient(#3ab76260, #3ab76260), */
        linear-gradient(#12255050, #12255050),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.possible-move {
    background:
        radial-gradient(#00000030 22%, transparent calc(22% + 0.1px)),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.possible-capture {
    background:
        radial-gradient(transparent calc(75% - 0.1px), #00000030 75%),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.premove-move {
    background:
        /* radial-gradient(#00000030 22%, transparent calc(22% + 0.1px)), */
        radial-gradient(#12255050 22%, transparent calc(22% + 0.1px)),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.premove-capture {
    background:
        /* radial-gradient(transparent calc(75% - 0.1px), #00000030 75%), */
        radial-gradient(transparent calc(75% - 0.1px), #12255050 75%),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.attacked {
    background:
        linear-gradient(#ff000030, #ff000030),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.premove {
    background:
        /* linear-gradient(#d81d1d60, #d81d1d60), */
        linear-gradient(#15317450, #15317450),
        /* linear-gradient(#00000050, #00000050), */
        linear-gradient(var(--square-color), var(--square-color));
    }
    
.square.check {
    background:
        radial-gradient(ellipse at center, rgb(255, 0, 0) 0%, rgb(231, 0, 0) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%),
        linear-gradient(var(--square-color), var(--square-color));
}
    
.square.check.premove {
    background:
        radial-gradient(ellipse at center, rgb(255, 0, 0) 0%, rgb(231, 0, 0) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%),
        linear-gradient(#15317450, #15317450),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.illegal-piece {
    background:
        linear-gradient(#ff000050, #ff000050),
        radial-gradient(ellipse at center, rgb(255, 0, 0) 0%, rgb(231, 0, 0) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%),
        linear-gradient(var(--square-color), var(--square-color));
}

.square.illegal-move {
    background:
        linear-gradient(#ff000050, #ff000050),
        linear-gradient(var(--square-color), var(--square-color));
}

.piece {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    cursor: grab;
    z-index: 1;
}

#picked-up-piece {
    position: absolute;
    margin: -37.5px -37.5px;
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    pointer-events: none;
}

@property --x {
    syntax: '<number>';
    inherits: false;
    initial-value: 0.0;
}

.promotion-wrapper {
    display: none;
    position: absolute;
    background: radial-gradient(
        rgb(
            calc(220 * (1.0 - var(--x)) + 220 * var(--x)),
            calc(220 * (1.0 - var(--x)) + 180 * var(--x)),
            calc(220 * (1.0 - var(--x)) + 170 * var(--x))
        ),
        rgb(
            calc(120 * (1.0 - var(--x)) + 207 * var(--x)),
            calc(120 * (1.0 - var(--x)) + 89 * var(--x)),
            calc(120 * (1.0 - var(--x)) + 25 * var(--x))
        ) calc(var(--x) * 31% + 69%),
        transparent calc(var(--x) * 31% + 69% + 1px)
    );
    cursor: pointer;
    animation: colorChangeOut 0.15s ease forwards; /* Animation for when not hovered */

    z-index: 2;
    user-select: none;
}

.promotion-wrapper:hover {
    animation: colorChangeIn 0.15s ease forwards; /* Animation for when hovered */
}

@keyframes colorChangeIn {
    from {
        --x: 0.0;
    }
    to {
        --x: 1.0;
    }
}

@keyframes colorChangeOut {
    from {
        --x: 1.0;
    }
    to {
        --x: 0.0;
    }
}

.promotion {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    transform: scale(0.8);
    transition: transform 0.15s;

    user-select: none;
    pointer-events: none;
}

.promotion-wrapper:hover .promotion {
    transform: scale(1.0);
}
